/* * */
/* COLORS */

:root {
	--palette-blue-500: rgb(0, 150, 255);
	--palette-blue-300: rgb(27, 82, 154);
	--palette-blue-100: rgb(0, 35, 80);

	--palette-green-500: rgb(0, 175, 60);
	--palette-green-300: rgb(11, 105, 11);
	--palette-green-100: rgb(35, 50, 35);

	--palette-yellow-500: rgb(0, 91, 170);
	--palette-yellow-300: rgb(146, 135, 12);
	--palette-yellow-100: rgb(62, 58, 11);

	--palette-orange-500: rgb(255, 95, 20);
	--palette-orange-300: rgb(169, 90, 15);
	--palette-orange-100: rgb(45, 30, 15);

	--system-light: rgb(30, 30, 30);
	--system-dark: rgba(210, 210, 225, 1);

	--system-background: rgb(0, 0, 0);
	--system-border: rgb(50, 60, 60);

	--system-text: rgba(210, 210, 225, 1);
	--system-muted: rgb(100, 105, 115);
	--system-link: rgb(15, 125, 225);
}

/* * */
/* FONTS */

:root {
  --font-family: var(--font-inter), sans-serif;
  /* --font-family: 'greycliff-cf', sans-serif; */
  --font-family-monospace: 'Menlo', monospace;

  --font-weight: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 900;

  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-large: 0 3px 25px 0 rgba(0, 0, 0, 0.1);

  --border-radius: 7px;
  --border-radius-large: 20px;

  --visual-square: 9/8; /* Visual Square */

  --transition: all 300ms ease;
}

/* * */
/* TOGGLE HTML ELEMENTS */

@media (prefers-color-scheme: dark) {
  theme-light {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  theme-dark {
    display: none;
  }
}

/* * */
/* TOGGLE HTML ELEMENTS */

@media only screen and (max-width: 900px) {
  only-desktop {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  only-mobile {
    display: none;
  }
}
